# Dependencies
/node_modules
/client/node_modules
server/node_modules

# dist
/client/dist

# Production
/client/build

# Environment variables
.env
/server/.env
.env.local
/client/.env.local
cypress.env.json
client/cypress.env.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Utility Scripts
server/check_account.js
server/check_identity.js
server/top_up_stripe.js
server/check_specific_account.js

# Android Keystore
*.keystore
*.jks
*.aab
server/service-account.json

# Android Secrets
client/android/keystore.properties
**/google-services.json
client/.env.production
