# fly.toml app configuration file generated for stockpredictorai-api on 2025-11-18T13:15:58+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

# fly.toml app configuration file (Final Recommended Version)

app = 'stockpredictorai-api'
primary_region = 'ams'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1

[logs] # <--- KEEP THIS SECTION
  forward = [
    { url = "https://s1598290.eu-nbg-2.betterstackdata.com", headers = { Authorization = "Bearer ${LOGTAIL_TOKEN}" } }
  ]
